<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GesFact</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<header>
    <h1>Gestion des factures</h1>
</header>
<body>