<%- include("partials/header.ejs", {title: "Accueil"}) %>
<div class="mb-3">
  <a href="/invoices" class="btn btn-primary">Factures</a>
  <a href="/customers" class="btn btn-primary">Clients</a>
  <a href="/items" class="btn btn-primary">Articles</a>
</div>
<%- include("partials/footer.ejs") %>
