<%- include("partials/header.ejs", {title: "Accueil"}) %>
<a href="/invoices" class="btn">Factures</a>
<a href="/customers" class="btn">Clients</a>
<a href="/items" class="btn">Articles</a>
<%- include("partials/footer.ejs") %>